@import "mixins";
@import "variables";

html {
  min-height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  //display: flex;
}

nav {
  @include first;
  ul {
    li {
      @include li-style;
      margin: 20px 10px;
      a {
        text-decoration: none;
        color: red;
        padding: 10px;
      }
    }
  }
}



.one {
  @include block;

  @include breakpoint($tablet) {
    width: 350px;
    background-color: rebeccapurple;
  }

  @include breakpoint($desktop) {
    width: 500px;
    background-color: lightcoral;
  }
}